.main_wrapper {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 40px;
  .upper_block_wrapper {
    display: flex;
    padding: 0 15px;
    justify-content: space-between;
    color: white;
    cursor: default;
    Button {
      &:hover {
        font-size: 18px;
      }
    }
  }
  .lower_block_wrapper {
    display: grid;
    h1 {
      color: white;
      justify-self: center;
    }
  }
}
