.wrapper {
  box-sizing: border-box;
  width: 100%;
  border-radius: 25px;
  height: auto;
  margin: 0;
  padding: 10px;
}

.color_pink {
  background-color: var(--pink);
}
.color_white {
  background-color: white;
}
